/*REDESIGN*/
/*
@font-face {
  font-family: 'Rubik Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Rubik Regular'), url('Rubik-Regular.tff') format('woff');
  }  
*/

body{
  font-family: 'Rubik', sans-serif;
  margin:0; 
}

a{
  color: black;
}
a:hover{
  transition: 0.2s;
  color: salmon;
  text-decoration: none;
}

.title{
  font-size: 2.5rem;
  font-weight: bold;
}



.nav-item{
font-size: larger;
}

.section-1{
  background-color: rgb(117, 117, 231);
  color: white;
}

.intro{
  font-size: 4.5rem;
}

.bio{
font-size: 3rem;
font-weight: 400;
}

.section-2{
  background-color: rgb(235, 114, 114);
  color: white;
}

.section-3{
 background-color: rgb(115, 212, 115);
  color: white;
}

.content{
  padding:0;
  list-style-type: none;
}

.content-icon{
  float: left;
  margin-right: 20px;
  width: 60px;
}


.container-fluid{
}

.footer{

}

.me-pic {
border: 2px solid rgb(255, 255, 255);
border-radius: 50%;
}

.footer-ul{
  list-style-type: none;
  display: flex;
  padding: 5px;
}

.fa-envelope-square{color: black;}
.fa-twitter-square{color: black;}
.fa-github-square{color: black}
.fa-linkedin{color: black;}

/*MEDIA QUERIES*/

@media screen and (max-width: 480px) {
  .section-1 {
  }
  .intro{
    font-size: 2rem;
  }
  .bio{
    font-size: 1.5rem;
  }
}

