#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

body {
	background-color: rgb(146, 205, 235);
	text-align: center;
  	float: left;
	padding: 0;
	width: 94%;
	margin: 3%; 
}

.pic-of-me{
	position: relative;
	margin: auto -55px;
	width: 425px;
	height: 425px;

}

h2 {
	font-size: 32px;
	font-weight: normal;
}

p1 {
	position: relative;
	font-size: 24px;
    top: 15px; 
   
}

p2 {
     display: inline-block;


 	font-size: 20px;
 	position: relative; 
	top: 15px; 
	/*increase for scroll bar*/ padding-bottom: 25px; 
}


/* SCROLL BAR CSS START */

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 10 10 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f3233; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f3233; 
}

/* SCROLL BAR CSS END*/
